<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.2.1/dist/chart.min.js"> </script>

  </head>

  <body>
    <canvas id="canvas" style="width: 40%; margin: 0px auto"></canvas>

  </body>

  <script>

    var myData = localStorage['dataToPass'];
    localStorage.removeItem('dataToPass');

    console.log(myData);

    var data = myData.split(",");

    for(i = 0; i < data.length; i++){

        console.log(parseInt(data[i]));
    }

    var fd = Number(data[0]);
    //console.log(fd);
    var rt = Number(data[1]);
    //console.log(rt);
    var tra = Number(data[2]);
    //console.log(tra);
    var mis = Number(data[3]);
    //console.log(mis);
    var sav = Number(data[4]);
    //console.log(sav);

    var ctx = document.getElementById('canvas').getContext('2d');


              var myChart = new Chart(ctx, {
              type: 'pie',
              data: {
                  labels: ['Food', 'Rent', 'Transport', 'miscellaneous', 'Savings'],
                  datasets: [{
                      label: 'EXPENSES BREAKDOWN',
                      data: [fd, rt, tra, mis, sav],
                      backgroundColor: [
                          'rgba(255, 99, 132, 0.2)',
                          'rgba(54, 162, 235, 0.2)',
                          'rgba(255, 206, 86, 0.2)',
                          'rgba(75, 192, 192, 0.2)',
                          'rgba(153, 102, 255, 0.2)',
                         
                      ],
                      borderColor: [
                          'rgba(255, 99, 132, 1)',
                          'rgba(54, 162, 235, 1)',
                          'rgba(255, 206, 86, 1)',
                          'rgba(75, 192, 192, 1)',
                          'rgba(153, 102, 255, 1)',
                         
                      ],
                      borderWidth: 1
                  }]
              },

              });
  </script>
</html>