h1{
	text-align: center;
	display: block;
}
h2{
	display: block;
}

div.main{
	margin-top: 5%;
}

.logo{
	width: 15%;
	display: block;
	margin-left: auto;
  	margin-right: auto;
}
.container{
	width: 60%;
}

#registerbtn{
	background-color: #718355;
	display: block;
	margin: 20px auto;
}

a.switch {
	margin: auto auto;
	display: block;
}